/* h1{ 
    color: rgb(184, 118, 231); 
    font-size: 2rem; 
} 
body{ 
    text-align: center; 
    background-color: rgb(5, 198, 188); 
} 
h4{ 
    color: rgb(3, 15, 11) 
} */


/* body{ 
margin: 0; 
padding: 0; 
box-sizing: border-box; 
font-family: sans-serif; 
} 
.container { 
height: 100vh; 
background-image: url("./youtube.jpg"); 
display: flex; 
align-items: center; 
justify-content: center; 
background-size: cover;  
background-position: center;  
background-repeat: no-repeat; 
} 
.login-card{ 
width: 350px; 
padding: 30px; 
background: rgba(255, 255, 255, 0.15); 
backdrop-filter: blur(4px); 
border-radius: 15px; 
color: white; 
text-align: center; 
box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4); 
} 
.login-card h1 { 
margin-bottom: 25px; 
} 
.login-card input { 
width: 100%; 
padding: 12px; 
margin-bottom: 15px; 
border: none; 
border-radius: 8px; 
outline: none; 
} 
.options { 
display: flex; 
justify-content: space-between; 
font-size: 12px; 
margin-bottom: 20px; 
} 
.options span { 
cursor: pointer;} 
button { 
width: 100%; 
padding: 12px; 
border: none; 
border-radius: 10px; 
background: white; 
color: red; 
font-weight: bold; 
cursor: pointer; 
} 
.signup { 
margin-top: 15px; 
font-size: 13px; 
} 
.signup span { 
color: #fff; 
font-weight: bold; 
cursor: pointer; 
} */

/* body { 
  margin: 0; 
  min-height: 100vh; 
  background: linear-gradient(135deg, #ece9e6, #ffffff); 
  font-family: "Segoe UI", sans-serif; 
} 
 
.cou { 
  text-align: center; 
  font-size: 56px; 
  font-weight: bold; 
  margin-top: 120px; 
  margin-bottom: 40px; 
  color: #333; 
} 
 
.center { 
  display: block; 
  margin: 15px auto; 
  padding: 18px 60px; 
  font-size: 20px; 
  border-radius: 14px; 
  border: none; 
  cursor: pointer; 
  background: #4f46e5; 
  color: white; 
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15); 
} 
 
.center: hover { 
  background: #4338ca; 
} 
 
.center: last-child { 
  background: #dc2626; 
} 
 
.center: last-child:hover { 
background: #b91c1c; 
} */